
<%- include ('navbar.ejs') %>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/sDetails.css">
    <title>Single Student Details</title>
</head>
<body>
    <div class="page-content">
        <div>
            <pre>Fullname                        :</pre>
            <dd> <%- allsDetails[0].fullname %> </dd>

            <pre>Address                         :</pre>
            <dd><%- allsDetails[0].address %> </dd>

            <pre>Grade                             :</pre>
            <dd> <%- allsDetails[0].grade %></dd>

            <pre>Roll number                   :</pre>
            <dd> <%- allsDetails[0].rollno %></dd>

            <pre>Age                                 :</pre>
            <dd> <%- allsDetails[0].age %></dd>

            <pre>Contact                          :</pre>
            <dd> <%- allsDetails[0].contactno %></dd>
            <div class="button-container">
                <a href="/edit/<%- allsDetails[0].id %>" class="update-button">Update</a>
                <a href="/delete/<%-allsDetails[0].id %>" class="delete-button">Delete</a>
            </div>
        </div>
      </div>
</body>
</html>